.newChat {
    justify-self: center;
    margin-top: 30vh;
    font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
    color: rgb(227, 227, 227);
    font-size: 30px;
}

.chats {
    justify-self: center;
    width: 700px;
    overflow-y: auto;
    padding: 10px;
    max-width: 100%;
}

.userDiv {
    justify-self: right;
}

.userMessage {
    max-width: 300px;
    padding: 10px;
    border-radius: 13px;
    background-color: #282a2c;
    font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(227, 227, 227);
}

.botDiv {
    justify-self: left;

}

.botMessage {
    max-width: 700px;
    font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(227, 227, 227);
    margin-bottom: 95px;
}

.hljs
{
    border-radius: 15px;
}

pre
{
    white-space: pre-wrap;
}


